xml/circuito.dtd

<!ELEMENT circuito (longitudCircuito, anchura, fecha2025, hora, vueltas, patrocinador, referencias, foto+, video+, puntoOrigen, puntos, vencedor, tresClasificados)>

<!ELEMENT longitudCircuito (#PCDATA)>
<!ELEMENT anchura (#PCDATA)>
<!ELEMENT fecha2025 (#PCDATA)>
<!ELEMENT hora (#PCDATA)>
<!ELEMENT vueltas (#PCDATA)>
<!ELEMENT patrocinador (#PCDATA)>
<!ELEMENT referencias (referencia+)>
<!ELEMENT referencia (#PCDATA)>
<!ELEMENT foto (#PCDATA)>
<!ELEMENT video (#PCDATA)>
<!ELEMENT puntoOrigen (coordenada)>
<!ELEMENT coordenada (latitud, longitud, altitud)>
<!ELEMENT latitud (#PCDATA)>
<!ELEMENT longitud (#PCDATA)>
<!ELEMENT altitud (#PCDATA)>
<!ELEMENT puntos (punto+)>
<!ELEMENT punto (distancia, coordenada, sector)>
<!ELEMENT distancia (#PCDATA)>

<!ELEMENT sector (#PCDATA)>

<!ELEMENT vencedor (#PCDATA)>

<!ELEMENT tresClasificados (clasificado, clasificado, clasificado)>
<!ELEMENT clasificado (#PCDATA)>

<!ATTLIST circuito
    nombre CDATA #REQUIRED
    ciudad CDATA #REQUIRED
    pais CDATA #REQUIRED
>

<!ATTLIST longitudCircuito
    unidades CDATA #REQUIRED
>

<!ATTLIST distancia
    unidades CDATA #REQUIRED
>

<!ATTLIST anchura
    unidades CDATA #REQUIRED
>